<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css">
    <title>Learn Python | Data Types </title>
</head>
<body>
    <div class="container">
        <h1>Data Types in Python</h1>
        <p>Python supports several data types to represent different kinds of values. Here are some common data types:</p>
        <ul>
            <li><strong>Integer:</strong>&nbsp;An integer is a whole number in Python, positive or negative, without any fractional component (e.g., 42, -7).</li>
            <li><strong>Float:</strong>&nbsp;A float is a number in Python that has a decimal point or is expressed in scientific notation (e.g., 3.14, -0.001, 1e3</li>
            <li><strong>String:</strong>&nbsp;A string is a sequence of characters in Python enclosed in single, and double quotes (e.g., 'hello', "world")</li>
            <li><strong>Boolean:</strong>&nbsp;A boolean represents a logical value in Python, either True or False</li>
        </ul>

        <h2>Examples:</h2>
        <h3>Integer:</h3>
        <pre>
        <code class="language-python">
x = 5
y = -10
print(x)  # Output: 5
print(y)  # Output: -10          
        </code>    
        </pre>
        <br>
        <a href="/">Home Page</a>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script> 
</html>