<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Learn Python | Data Types </title>
</head>
<body>
    <div>
        <h1>Data Types in Python</h1>
        <p>Python supports several data types to represent different kinds of values. Here are some common data types:</p>
        <ul>
            
        </ul>
    </div>
    <a href="/">Home Page</a>
</body>
</html>